**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
string = str(input("enter string to know length"))
length = len(string)
print(length)

enter string to know lengthammar
5

In [4]:
length = 0 
for s in string:
    length += 1
print(length)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [4]:
def get_a_string(s):
    if(len(s)>1):
        return s[0:2]+s[-2:]
    else:
        return ""
print(get_a_string("w3"))

w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [9]:
def add_ing(s):
    if(len(s)>=3):
        if (s[-3:]=="ing"):
            return s+"ly"
        else:
            return s+"ing"
    else:
        return s
    

print(add_ing("abcing"))

abcingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [10]:
lst= ["Exercises", "Reading", "Name", "Age", "Acquaintance"]
length=0
longest=""
for word in lst:
    if(len(word)>=length):
        longest = word
print(word)

Acquaintance

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [67]:
name= input()
print(name[-1]+name[1:-1]+name[0])

ammar
rmmaa

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [70]:
string = input()
print(string[0::2])

ammar
amr

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [12]:
text = "please enter sentence amr and ahmed are frindes but amr is the tallest Expected"
print(text.count("amr"))

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [72]:
name = input()
print(name.upper())
print(name.lower())

AmAaAs
AMAAAS
amaaas

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [14]:
name = input()
def reverse(string):
    return string[::-1] if len(name)%4==0 else string
print(reverse(name))

zain
niaz

**10- Write a Python program to remove a newline in Python

In [78]:
string = """ammar
yasser
zain"""
string.replace("\n"," ")

'ammar yasser zain'

**11-Write a Python program to check whether a string starts with specified characters

In [17]:
name = input()
chs = ['A', 'X', 'O', 'M']
if name[0] in chs:
    print("Okay")
else:
    print("not okay")

Ammar
Okay

**12- Write a Python program to add prefix text to all of the lines in a string

In [20]:
string = """Ammar
Zain
Omar"""
lines = string.splitline()

**13-Write a Python program to print the following numbers up to 2 decimal places

In [19]:
num = 2.2566
round(num,2)

2.26

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [21]:
num = -2.2566
round(num,2)

-2.26

**15-Write a Python program to display a number with a comma separator

In [25]:
num = 2.2566
string=str(num)
print(string.replace(".",","))

2,2566

**16-Write a Python program to reverse a string using 2 ways

In [26]:
string = "abcd"
print(string[::-1])

dcba

In [28]:
lst =[]
for ch in reversed(string):
    lst.append(ch)
print("".join(lst))

dcba

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [88]:
name = "ammaryasser"
lst = []
for i in name:
    lst.append(i)
myd = dict()
for i in lst:
    myd[i] = name.count(i)
myd

{'a': 3, 'm': 2, 'r': 2, 'y': 1, 's': 2, 'e': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [12]:
name = "aabcddd"
for ch in name:
    if name.count(ch)==1:
        print(ch)
        break

b

**19-Write a Python program to remove spaces from a given string

In [94]:
name = "ammar yasser"
name.replace(" ","")

'ammaryasser'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [97]:
name = "ammar"
print((len(name)*len(name)+1)/2)

13.0

**21-write a Python program to swap first and last element of any list.

In [33]:
name = "Ammar Yasser Zain"
lst = name.split()
temp = lst[-1]
lst[-1]=lst[0]
lst[0]=temp

lst

['Zain', 'Yasser', 'Ammar']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [35]:
nums = [23, 65, 19, 90]
pos1 = 1 
pos2 = 3
temp = nums[pos2]
nums[pos2]=nums[pos1]
nums[pos1]=temp

nums

[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [36]:
nums = [23, 65, 19, 90]
print(len(nums))

4

**24-write a Python code to find the Maximum number of list of numbers.

In [37]:
nums = [23, 65, 19, 90]
print(max(nums))

90

**25-write a Python code to find the Minimum number of list of numbers.

In [38]:
nums = [23, 65, 19, 90]
print(min(nums))

19

**26-search for if an elem is existing in list

In [40]:
nums = [23, 65, 19, 90]
90 in nums

True

**27- clear python list using different ways

In [41]:
nums = [23, 65, 19, 90]
nums.clear()
nums

[]

In [42]:
nums = [23, 65, 19, 90]
nums = []
nums

[]

**28-remove duplicated elements from a list

In [44]:
nums = [23, 65, 19, 90,23]
set_nums=set(nums)
print(list(set_nums))

[65, 90, 19, 23]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [3]:
keys = ["Name", "Age", "Country"]
values = ["Ammar",20,"Egypt"]
dec = dict(zip(keys,values))
dec

{'Name': 'Ammar', 'Age': 20, 'Country': 'Egypt'}

**30-write a python program to count unique values inside a list using different ways

In [16]:
lst = [20,35,34,36,35,34,30,12,]
count = 0
for num in lst:
    if(lst.count(num)==1):
        count +=1
print(count)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [17]:
lst = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
for num in lst:
    if(num>k):
        print([num,lst.count(num)])

[4, 4]
[6, 1]
[4, 4]
[4, 4]
[4, 4]
[8, 1]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [5]:
lst = [1, 2, 2, 1, 3, 4, 5]
result = []
for i in range(1,len(lst)):
    if(lst[i]>=lst[i-1]):
        result.append(lst[i])
print(result)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [10]:
lst = [1, 2, 3]
for i in lst:
    for j in lst:
        for k in lst:
            if(i!=j and j!=k and k!=i):
                print([i,j,k])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [11]:
from itertools import combinations

def find_combinations(lst):
    result = []
    for i in range(1, len(lst) + 1):
        for j in combinations(lst, i):
            result.append(list(j))
    return result

test_list = [1, 2, 3]
print(find_combinations(test_list))

[[1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [11]:
lst1 = ["a","b"] 
lst2= [1,2] 
result = []
for letter in lst1:
    for num in lst2:
        result.append((letter,num))
result

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [2]:
num = int(input())
lst = [1, 1, 2, 3, 4, 5, 1, 2, 1]
result = []
for n in lst:
    if(n==num):
        continue
    result.append(n)
print(result)

1
[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [5]:
lst = ['Gfg', 'is', 'best']
nums = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result =[]
for num in nums:
    result.append(lst[num])

print(result)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [7]:
lst = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
n = 2
for nums in lst:
    if(nums.count(k)==n):
        print(nums)

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [35]:
arr = [[1, 3, 3],
       [2, 1, 2],
       [3, 2, 1]]
for i in range(len(arr)):
    sorted_arr = sorted(arr, key= lambda x : x[i])
    print(sorted_arr)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [10]:
dic = {'ravi': 10,
       'rajnish': 9,
       'sanjeev': 15,
       'yash': 2,
       'suraj': 32}
lst = []
for key in dic:
    lst.append(key)

slst = sorted(lst)
result = {}
for key in slst:
    result[key] = dic[key]
result

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [7]:
dic = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k = 7
result ={}
for key, value in dic.items():
    if(type(value)==int):
        if(value<k):
            result[key]=value
        
        
print(result)

{'Gfg': 3, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
result = {}
result = dic1|dic2|dic3
result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [13]:
for key,value in result.items():
    print([key,value])

[1, 10]
[2, 20]
[3, 30]
[4, 40]
[5, 50]
[6, 60]

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
result = {}
result = dic1|dic2|dic3

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [17]:
lst = result.values()
print(max(lst))
print(min(lst))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [32]:
dictionary =  {'c1': 'Red', 'c2': 'Green', 'c3': None} 
dictionary.popitem()
dictionary

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [21]:
nums = (1,2,3,4,5,6,7)
print(nums)

(1, 2, 3, 4, 5, 6, 7)

**48-Write a Python program to unpack a tuple into several variables

In [19]:
print(*nums)

1 2 3 4 5 6 7

**49-Write a Python program to add an item to a tuple

In [30]:
Tuple = (1, 2, 3, 4, 5)
lst = list(Tuple)
lst.append(6)
Tuple = tuple(lst)
Tuple

(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [28]:
Tuple = ("Ammar", "Yasser", "zain")
for st in Tuple:
    print(st)

Ammar
Yasser
zain

**51-Write a Python program to convert a list to a tuple

In [26]:
Tuple = (1, 2, 3, 4, 5)
lst = list(Tuple)
lst

[1, 2, 3, 4, 5]

**52-Write a Python program to reverse a tuple

In [24]:
Tuple = (1, 2, 3, 4, 5)
lst = list(Tuple)
Tuple = tuple(reversed(lst))
Tuple

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [21]:
lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
newnum = 100
newlst = []
for Tuple in lst:
    Tuple = list(Tuple)
    Tuple[-1] = newnum
    Tuple = tuple(Tuple)
    newlst.append(Tuple)
    
print(newlst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [12]:
string = "python 3.0"
lst = []
Tuple= ()
for ch in string:
    lst += ch
    
Tuple = tuple(lst)
Tuple

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [7]:
Tuple = (1, 2, 3, 4, 5)
average=sum(Tuple)/len(Tuple)
average

3.0

**56-Write a Python program to add member(s) to a set.

In [5]:
Set = {1, 2, 3, 4, 5}
Set.add(6)
Set

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [3]:
Set = {1, 2, 3, 4, 5}
Set.remove(1)
Set

{2, 3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [11]:
st1 = {12,34,-56,0}
st2 = {12,35,28 ,0}
print(st1&st2)
print(st1|st2)
print(st1-st2)
print(st2-st1)
print(st1^st2)

{0, 12}
{0, 34, 35, -56, 12, 28}
{-56, 34}
{35, 28}
{34, 35, -56, 28}
{34, 35, -56, 28}

**59-Write a Python program to find the maximum and minimum values in a set

In [4]:
st1 = {12,34,-56,0}
print(max(st1))
print(min(st1))

34
-56

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [2]:
lst = [1,2,3,4,5,7,8,9]
number = 12
for num1 in lst:
    for num2 in lst:
        if(num1+num2==number):
            print([num1,num2])

[3, 9]
[4, 8]
[5, 7]
[7, 5]
[8, 4]
[9, 3]